body {
    background-color: #000;
    font-size: 28px;
    color: lightgray;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#board {
    font-size: 48px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#title {
    font-size: 54px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    letter-spacing: 3px;
}

#hanging_tree, #alphabet {
    width: 50%;
    min-height: 280px;
    float: left;
    text-align: center;
}

#hanging_tree {
    width: 470px;
    padding: 5px 0 0 0;
    border: 3px solid gray;
    border-radius: 15px;
}

#alphabet {
    width: 400px;
    padding: 0 15px 0 35px;
    margin-left: 45px;
    margin-right: 25px;
}

#categories, #hanging_man_img {
    width: 100%;
    text-align: center;
}

#box > p {
    text-align: center;
    margin-bottom: 50px;
}

.letters {
    float: left;
    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    border: 3px solid gray;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}

.category_buttons {
    display: block;
    width: 150px;
    height: 30px;
    margin: 20px auto;
    padding: 10px;
    border: 3px solid gray;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}

#return_button {
    width: 400px;
    margin-right: 30px;
}

#surrender_button {
    width: 200px;
    margin-left: 152px;
}

#return_button, #surrender_button {
    display: block;
    width: 400px;
    height: 30px;
    margin: 50px auto 60px auto;
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 10px;
    border: 3px solid gray;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}

#return_temp, #surrender_temp, #return_temp2 {
    display: inline-block;
    width: 400px;
    height: 30px;
    margin: 50px auto 0 auto;
    padding: 10px;
    border: 3px solid gray;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}

#return_temp {
    margin-right: 25px;
    margin-left: 25px;
}

#return_temp2 {
    margin-right: 0px;
    margin-left: 67px;
}

#surrender_temp {
    width: 200px;
    margin-left: 159px;
    margin-right: 140px;
}

.buttons {
    display: block;
    width: 150px;
    height: 30px;
    margin: 50px auto 60px auto;
    padding: 10px;
    border: 3px solid gray;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}

.letters:hover, .category_buttons:hover, .buttons:hover, #return_button:hover, #surrender_button:hover, #surrender_temp:hover, #return_temp:hover, #return_temp2:hover {
    background: #222;
    color: #fff;
    border: 3px solid #fff;
}

#victory {
    cursor: pointer;
    font-size: 48px;
    color: green;
}

#defeat {
    cursor: pointer;
    font-size: 48px;
    color: red;
}

#victory:hover, #defeat:hover {
    color: white;
}

#footer {
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
}

#footer a {
    color: gray;
    text-decoration: none;
}

#footer a:hover {
    color: #fff;
    text-decoration: underline;
}

.red {
    color: #ff0000;
}

.yellow {
    color: #ffff00;
}

.green {
    color: #00ff00;
}

#password {
    letter-spacing: 3px;
}


#available_moves {
    position: absolute;
    top: 0;
    font-size: 18px;
    margin: 15px 0;
    /*color: red;*/
}

#points {
    position: absolute;
    top: 0;
    font-size: 18px;
    margin: 15px 0;
    left: 935px;
    text-align: right;
    width: 400px;
}

#nav_buttons {
    width: 100%;
    height: 150px;
}

#box {
    height: 550px;
}
